 
.profile__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .profile__image {
    margin-right: auto;
    margin-left: auto;
  }
}