.element__info {
  background-color: #ffffff;
  color: #000000;
  padding: 25px 21px 31px;
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  justify-content: space-between;
}
